body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 70px;
    background-image: linear-gradient(to top, #9cd2d3 0%, #9cd2d3 100%);
    background-color: #9cd2d3;
    color: #000000;
}

body h2 {
    padding-left: 10px;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background: #3f9bab;
    transition: 0.5s;
}

.emergencyContacts {
    padding-left: 32%;
}

.container {
    border: 1px solid black;
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 30px;
    display: inline-block;
}

.searchbox {
    margin-bottom: 20px;
}

.searchbox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.boton-context {
    border: 1px solid black;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.boton-context:hover{
    background-color: #3f9bab;
}

.text {

    color: black;
    font-size: 20px;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

.image {
    background-color: #ccc;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.image img {
    width: 48%;
    height: 90%;
    display: inline;
    justify-content: center;
    align-items: center;
   

}

footer {
    background-color: #6a6a6a;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}
