body {
    font-family: Arial, sans-serif;
    background-color: #9cd2d3;
    margin: 0;
    padding: 0;
    height: 100vh;
    padding-top: 10px; 
}

nav {
    position: fixed;
    top: 0;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background: #3f9bab;
    transition: 0.5s;
}

.container {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px; 
}

h1 {
    color: #114c5f;
}

h2 {
    color: #006459;
    font-weight: normal;
}

.grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    margin: 20px;
    width: 200px;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.item p {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0;
}